.aws {
  display: flex;
  justify-content: center;

  @include respond(phone) {
    flex-direction: column;
    margin-left: 3rem;
  }

  &__badge {
    width: min-content;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    border-radius: 2px;
    z-index: 10;
    transition: all 0.2s;
    outline-offset: 1rem;

    &:last-child {
      margin-left: 2rem;
      @include respond(phone) {
        margin-left: 0;
        margin-top: 3rem;
      }
    }

    @include respond(tab-port) {
      box-shadow: 0 1.5rem 3rem rgba($color-black, 0.2);
    }

    &:hover {
      outline: 1rem solid $color-primary;
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
      transform: translateY(-3px);
      z-index: 20;

      @include respond(tab-port) {
        outline: 0.5rem solid $color-primary;
        box-shadow: 0 1.5rem 3rem rgba($color-black, 0.4);
      }
    }
  }
}
