.certs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: 50%;
  margin-top: 6rem;

  @include respond(phone) {
    width: 75%;
  }

  &__badge {
    border-radius: 2px;
    z-index: 10;
    transition: all 0.2s;
    outline-offset: 1rem;

    img {
      height: 100px;
      @include respond(phone) {
        height: 50px;
      }
    }

    &:hover {
      // outline: 0.5rem solid $color-primary;
      transform: translateY(-3px);
      z-index: 20;

      // @include respond(tab-port) {
      //   outline: 0.5rem solid $color-primary;
      // }
    }
  }
}
