.certs {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 50%;
  margin-top: 6rem;

  @include respond(phone) {
    align-items: center;
    justify-items: center;
    flex-direction: column;
  }

  &__badge {
    border-radius: 2px;
    z-index: 10;
    transition: all 0.2s;
    outline-offset: 1rem;

    img {
      height: 100px;
    }

    &:last-child {
      margin-left: 2rem;
      @include respond(phone) {
        margin-left: 0;
        margin-top: 3rem;
      }
    }

    &:hover {
      // outline: 0.5rem solid $color-primary;
      transform: translateY(-3px);
      z-index: 20;

      // @include respond(tab-port) {
      //   outline: 0.5rem solid $color-primary;
      // }
    }
  }
}
