body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-grey-dark;
}

.heading-primary {
  color: $color-white;
  margin-bottom: 6rem;
  margin-left: 15rem;
  padding-top: 5rem;

  @include respond(tab-land) {
    margin-top: 5rem;
    margin-left: 10rem;
  }

  @include respond(xs) {
    margin-top: 0;
  }

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 0.25rem;

    animation: moveInLeft 1.25s ease-out;

    @include respond(tab-land) {
      font-size: 4.5rem;
    }

    @include respond(phone) {
      font-size: 4rem;
    }
  }

  &--sub {
    display: block;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.2rem;
    width: 45%;
    animation: moveInRight 1.25s ease-out;

    @include respond(tab-land) {
      font-size: 1.4rem;
      font-weight: 400;
      letter-spacing: 0.2rem;
    }

    @include respond(tab-port) {
      width: 50%;
    }

    @include respond(phone) {
      font-size: 1.6rem;
      width: 75%;
    }
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  color: $color-primary;
  letter-spacing: 2px;
  transition: all 0.2s;

  // @supports (background-clip: text) or (-webkit-background-clip: text) {
  //   background-image: linear-gradient(
  //     to right,
  //     $color-primary-dark,
  //     $color-primary-light,
  //     $color-primary-dark
  //   );
  //   -webkit-background-clip: text;
  //   background-clip: text;
  //   color: transparent;
  // }

  @include respond(tab-port) {
    font-size: 3rem;
  }

  @include respond(phone) {
    font-size: 2.5rem;
    padding: 0 2rem;
  }

  &__contact {
    @include respond(tab-land) {
      font-size: 2.5rem;
    }
  }
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
  color: $color-primary-dark;
}

.paragraph {
  font-size: $default-font-size;
  color: rgba($color: $color-primary-dark, $alpha: 1);
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
