.u-center-text {
  text-align: center !important;
}

.u-left-text {
  text-align: left !important;
}

u-text-white {
  color: #777 !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;

  @include respond(tab-port) {
    margin-bottom: 5rem !important;
  }
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;

  @include respond(tab-port) {
    margin-bottom: 3rem !important;
  }
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;

  @include respond(custom) {
    margin-bottom: 0.75rem !important;
  }
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-medium {
  margin-top: 4rem !important;
}

.u-margin-top-small {
  margin-top: 1.5rem !important;
}

.u-move-text-up {
  transform: translateY(-10rem);

  @include respond(tab-port) {
    transform: translateY(-5rem);
  }
}

.u-margin-left-small {
  margin-left: 1.5rem !important;
}

.u-margin-left-medium {
  margin-left: 4rem !important;
}
